h3 { margin-bottom: 0; }

.container {
  max-width: 1000px;
  margin: auto;
}

.row {
  display: flex;
  width: 100%;
}

.column {
  flex: 1;
  margin-right: 15px;
  background: white;
  width: 25%;
}

.content {
  background-color: white;
  padding: 10px;
}

.image {
  width: 219px;
  height: 172px;
}

@media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
    .image {
        width: 363px;
        height: 270px;
    }
  }

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
}