/* You can add global styles to this file, and also import other style files */
body {
    font-family: Arial;
    margin: 0;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    background: linear-gradient(to right, rgb(250, 220, 220), #feffca);
}

p { text-align: left; }